ul {background-color: lightseagreen;}
li {color: grey; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 30px;}
h1 {color: indigo; background-color: lemonchiffon; font-family: "Brush Script MT", Garamond; text-align: center;}